# Managed by Ansible - postgresql role
# listen_addresses is built from 127.0.0.1 + Docker bridge gateways (not 0.0.0.0 / *).
listen_addresses = '{{ postgresql_listen_addresses_effective }}'
max_connections = 50
shared_buffers = 512MB
shared_preload_libraries = 'pg_stat_statements'
